@model IEnumerable<Wardrobe_MVC.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="container">
        <h2>Current Outfits</h2>
        <p>
            @Html.ActionLink("ADD OUTFIT", "Create", new { id = ViewBag.OutfitsID }, new { @class = "btn btn-default", role = "button" })
        </p>
    </div>
</div>
@foreach (var item in Model)
{
    <hr />
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div>
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                <p>@Html.DisplayFor(modelItem => item.Date)</p>
                <p>@Html.ActionLink("DETAILS", "Details", new { id = item.OutfitID }, new { @class = "btn btn-default", role = "button" })</p>
                <p>@Html.ActionLink("DELETE", "Delete", new { id = item.OutfitID }, new { @class = "btn btn-default", role = "button" })</p>
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">

                @Html.DisplayFor(modelItem => item.Accessory.Name)
                <img src="@Html.DisplayFor(modelItem => item.Accessory.Photo)" />
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">

                @Html.DisplayFor(modelItem => item.Top.Name)
                <img src="@Html.DisplayFor(modelItem => item.Top.Photo)" />
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">


                @Html.DisplayFor(modelItem => item.Bottom.Name)
                <img src="@Html.DisplayFor(modelItem => item.Bottom.Photo)" />
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail">

                @Html.DisplayFor(modelItem => item.Shoe.Name)
                <img src="@Html.DisplayFor(modelItem => item.Shoe.Photo)" />
            </div>
        </div>
    </div>
}
